<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ErRoR<%= err %></title>
  </head>
  <body>
    <main>
      <h1>Error <%= err %>: <%= errType %></h1>
      <p><%= msg %></p>
      <a href='/'><button>Return to Home</button></a>
    </main>
  </body>
</html>
