form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

form * {
  border-radius: 5px;
}

fieldset {
  width: 80%;
  background-color: #eee;
  margin-bottom: 1.5em;
  padding: 1em;
}



li {
  width: 80%;
  /* height: 40em; */
  margin: 0 auto 1.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: hsl(249, 80%, 97%);
  color: hsl(249, 80%, 47%);
  padding: 2em 3em 3em;
  border-radius: 5px;
}

li a {
  width: 80%;
}

li img {
  width: 100%;
}

li * {
  margin-bottom: .5em;
}


li p, section p {
  max-height: 11.3em;
  overflow-y: auto;
  width: 85%;
}

.addBook {
  vertical-align: bottom;
  width: 95%;
  background-color: hsl(249, 80%, 47%);
  color: hsl(249, 80%, 97%);
  border-radius: 7px;
}

.addBook label {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0 auto 0em;
  padding-bottom: 1em;
}

section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-evenly;
  position: relative;
  background-color: hsl(249, 80%, 97%);
  border-radius: 5px;
  padding: 1em 1em 4em;
}

img {
  width: 80%;
  margin: 1em 0;
  border-radius: 10px;
  border: 2px inset hsl(249, 80%, 97%);
}

section p {
  padding-bottom: 1em;
}

footer {
  background-color: hsl(249, 80%, 67%);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

footer a {
  width: 20%;
}

footer img {
  background-color: hsl(249, 80%, 87%);
  border: 3px outset hsl(249, 80%, 87%);
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  li {
    width: 40%;
    margin: 1.5em 0;
    position: relative;
  }

  li a {
    width: 100%;
  }

  .addBook {
    position: absolute;
    bottom: 1em;
  }
}

.DELETE {
  position: absolute;
  top: 1em;
  left: 1em;
}
.DELETE button {
  background-color: unset;
  width: unset;
  padding: unset;
  color: unset;
  border: unset;

}

.DELETE img {
  width: 7vw;
  border: 2px solid hsl(249, 80%, 47%);
  border-radius: 50%;
}

@media only screen and (min-width: 960px) {
  li {
    width: 30%;
  }

  footer {
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
  }
  
  footer a {
    width: 10vh;
  }
  
  footer img {
    background-color: hsl(249, 80%, 87%);
    border: 3px outset hsl(249, 80%, 87%);
    border-radius: 5px;
  }

  .DELETE img {
    width: 5vw;
    border: 2px solid hsl(249, 80%, 47%);
    border-radius: 50%;
  }
}