* {
  box-sizing: border-box;
}

main {
  padding-bottom: 5em;
}

body {
  background-color: hsl(249, 80%, 87%);
  font-family: sans-serif;
  min-height: 100vh;
}

header {
  background-color: hsl(249, 80%, 47%);
  color: hsl(249, 80%, 97%);
  padding: 1em .5em;
  font-size: 1.5em;
}

h2 {
  background-color: hsl(249, 80%, 67%);
  color: hsl(249, 80%, 97%);
  padding: 1em;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  width: 90%;
  margin-bottom: 0.5em;
  font-style: italic;
  max-height: 4em;
  overflow: auto;
}

h4 {
  font-size: 1em;
  font-style: italic;
  width: 80%; 
  margin-bottom: 1em;
}

