* {
  box-sizing: border-box;
}

body {
  background-color: hsl(249, 80%, 87%);
  font-family: sans-serif;
}

header {
  background-color: hsl(249, 80%, 47%);
  color: hsl(249, 80%, 97%);
  padding: 1em .5em;
  font-size: 1.5em;
}

h2 {
  background-color: hsl(249, 80%, 67%);
  color: hsl(249, 80%, 97%);
  padding: 1em;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

form * {
  border-radius: 5px;
}
fieldset {
  width: 80%;
  background-color: #eee;
  margin-bottom: 1.5em;
  padding: 1em;
}

label span {
  display: inline-block;
  width: 3em;
}

input[type="text"], input[type="url"] {
  display: inline-block;
  /* height: 20px; */
  margin: 0 auto 1.5em;
  width: 80%;
  padding: 1em;
  border: 0px;
}

button {
  padding: 1.5em;
  width: 80%;
  background-color: hsl(249, 80%, 47%);
  color: hsl(249, 80%, 97%);
  border: 0px;
}

li {
  width: 80%;
  /* height: 40em; */
  margin: 0 auto 1.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: hsl(249, 80%, 97%);
  color: hsl(249, 80%, 47%);
  padding: 4em 5em 5em;
  border-radius: 5px;
}

h3 {
  font-size: 3em;
  width: 90%;
  margin-bottom: 0.5em;
  font-style: italic;
  max-height: 3.3em;
  overflow-y: auto;
}

h4 {
  font-size: 2em;
  width: 80%; 
  margin-bottom: 1em;
  font-weight: bold;
}

li a {
  width: 50%;
}

li img {
  width: 100%;
}

li * {
  margin-bottom: .5em;
}

li p, section p {
  max-height: 11.3em;
  overflow-y: auto;
  width: 85%;
}

.collectionForm {
  display: none;
}

input:checked + .collectionForm {
  display: inline-block;
}

section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-evenly;
}

section img {
  width: 80%;
}

