label span {
  display: inline-block;
  width: 3em;
}

input[type="text"], input[type="url"] {
  display: inline-block;
  /* height: 20px; */
  margin: 0 auto 1.5em;
  width: 80%;
  padding: 1em;
  border: 0px;
}

button {
  padding: 1.5em;
  width: 80%;
  background-color: hsl(249, 80%, 47%);
  color: hsl(249, 80%, 97%);
  border: 0px;
}

select {
  padding: 1em;
  width: 40%;
  background-color: hsl(249, 80%, 87%);
  color: hsl(249, 80%, 47%);
  border-radius: 5px;
  margin-bottom: 1em;
}

.collectionForm {
  visibility: hidden;
  max-height: 0em;
}

input:checked + .collectionForm {
  visibility: visible;
  max-height: unset;
  width: 100%;
  margin-top: 1em;
}

label form input {
  width: 90%;
  margin: 0 auto 0.5em;
}

label button {
  background-color: hsl(249, 80%, 67%);
}

input[type="checkbox"] {
  width: 0px;
}

.details-button {
  width: 40%;
  text-decoration: none;
  display: inline-block;
}

.details-button div {
  padding: 0.5rem;
}

.details-button h4 {
  font-size: 1rem;
}

li div, .DELETE {
  width: 100%;
  background-color: hsl(249, 80%, 47%);
  color: hsl(249, 80%, 97%);
  text-align: center;
  padding: .5em;
  margin: 0px;
  border: hsl(249, 80%, 47%) outset 5px;
  border-radius: 5px;
}

a div h4 {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

div.formatting {
  background-color: unset;
  border: unset;
}