<footer>
  <nav>
    <a href="/" title="bookshelf"><img
        src="https://www.freeiconspng.com/uploads/bookmarks-icon-3.png" width="350" alt="Bookmarks Png Simple" /></a>
    <a href="/form" title="newSearch"><img
        src="https://www.freeiconspng.com/uploads/search-icon-png-8.png" width="350" alt="Icon Png Search" /></a>
  </nav>
</footer>